body {
  background-color: #1f1f1f;
  color: white;
}

a {
  color: lightgray;
}

input {
  background-color: #505050;
  border-color: gray;
  caret-color: lightgray;
}

#login {
  background-color: #505050;
  color: lightgray;
  border-width: 0;
}

#theme {
  background-color: white;
}

#footer {
  background-color: black;
}

#techSelect {
  background: transparent;
  border-radius: 2px;
  border: 1px solid white;
  color: white;
  font-size: 1em;
}
