body {
	background-color: #1f1f1f;
	color: white;
}

a {
	color: lightgray;
}

input[type="text"],
input[type="password"],
textarea {
	background-color: #505050;
	border-color: gray;
	caret-color: lightgray;
	color: white;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: white;
}

pre {
	background-color: #ffffff25;
	code {
		background-color: transparent;
	}
}

code {
	background-color: #ffffff25;
}

#login {
	background-color: #505050;
	color: lightgray;
	border-width: 0;
}

#theme {
	background-color: white;
}

#footer {
	background-color: black;
}

select {
	background: transparent;
	border-radius: 2px;
	border: 1px solid white;
	color: white;
	font-size: 1em;
}

#loginButton {
	color: white;
	background-color: #303030;
	border: 1px solid gray;
	border-radius: 3px;
}

#loginButton:active {
	background-color: black;
}

.formButton {
	color: white;
	background-color: #303030;
	border: 1px solid gray;
	border-radius: 3px;
}

.formButton:active {
	background-color: black;
}

.blog {
	h1::after,
	h2::after {
		background-color: white;
	}
}

.blog-title::after {
	background-color: white;
}
