a {
	color: #1f1f1f;
}

#theme {
	background-color: black;
	color: white;
}

#footer {
	background-color: lightgray;
}

#techSelect {
	background: transparent;
	border-radius: 2px;
	border: 1px solid black;
	color: black;
	font-size: 1em;
}

input {
	background-color: #909090;
	border-color: gray;
}

input:focus {
	border-color: black;
}
