a {
	color: #1f1f1f;
}

pre {
	background-color: #00000025;
	code {
		background-color: transparent;
	}
}

code {
	background-color: #00000025;
}

#theme {
	background-color: black;
	color: white;
}

#footer {
	background-color: lightgray;
}

select {
	background: transparent;
	border-radius: 2px;
	border: 1px solid black;
	color: black;
	font-size: 1em;
}

input,
textarea {
	background-color: #00000020;
	border-color: gray;
}

input:focus {
	border-color: black;
}

.blog {
	h1::after,
	h2::after {
		background-color: black;
	}
}

.blog-title::after {
	background-color: black;
}
