*{
    margin: 0px;
    inset: 0px;
}

html, body{
    height: 100%;
    overflow-x: hidden;
}

button{
    cursor: pointer;
}

ul{
    list-style: circle;
    margin: 10px 0px 10px 0px;
}

.coloredSection{
    color: white;
}

#main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header{
    text-align: center;
    position: sticky;
    background-color: #006b5a;
    box-shadow: 0px 0px 10px 0px black;
    padding: 20px;
    flex-shrink: 0;
}

#content{
    padding: 10px;
    max-width: 800px;
    margin: auto;
    flex: 1 0 auto;
}

#footer{
    padding: 10px;
    flex-shrink: 0;
}

#theme{
    border: 0;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    float: inline-end;
    align-self: center;
}

#sidebarOpen{
    border: 0;
    left: calc(100% - 50px);
    border-radius: 20px;
    position: absolute;
    align-self: center;
    vertical-align: middle;
    background-color: transparent;
}

.material-symbols-outlined{
    color: white;
}

#sidebar{
    position: absolute;
    left: 100%;
    width: 400px;
    height: 100%;
    background-color: #006b5a;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px 0px black;
}

.sidebarSeperator{
    height: 2px;
    background-color: #7595ac;
    width: calc(inherit - 20px);
    margin: 20px 10px 20px 10px;
}

.sidebarHeading{
    margin-left: 10px;
}

.notFirstHeading{
    margin-top: 20px;
}

.sidebarLinks{
    text-align: center;
    color: white;
    margin-bottom: 5px;
}

#cover{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0%;
    background-color: black;
    visibility:hidden;
}